iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
python-dotenv==1.2.2
PyYAML==6.0.3
-e git+ssh://git@github.com/reycons/rey_lib.git@74e38f9badf575c8ac42df4f29fcd2cf13f38e23#egg=rey_lib
